*/bin/*
*/obj/*
.vs/*
*.7z
*.pdn

*Thumbs.db

PbpResign/bin/*
PbpResign/obj/*

ChovySign-CLI/bin/*
ChovySign-CLI/obj/*

ChovySign-GUI/bin/*
ChovySign-GUI/obj/*


DiscUtils/bin/*
DiscUtils/obj/*

GameBuilder/bin/*
GameBuilder/obj/*

PspCrypto/bin/*
PspCrypto/obj/*

LibChovy/bin/*
LibChovy/obj/*

LiLib/bin/*
LiLib/obj/*

Vita/bin/*
Vita/obj/*

UnicornTest/*
UnicornManaged/*