*/bin/*
*/obj/*
.vs/*
*.7z

*Thumbs.db

PbpResign/bin/*
PbpResign/obj/*

PopsBuilder/bin/*
PopsBuilder/obj/*


PspCrypto/bin/*
PspCrypto/obj/*

PsvImage/bin/*
PsvImage/obj/*

UnicornTest/*
UnicornManaged/*